@import "tailwindcss";

:root {
  --background: #f1f3f9;
  --foreground: #0f172a;
  --navy: #0e1a4b;
  --navy-light: #16215c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jakarta);
}

body {
  background: var(--background);
  color: var(--foreground);
}
